# Ignore all Markdown files
*.md

# Mac OS files
.DS_Store

# Editor files
.vscode/
.idea/

# Logs
*.log

# Dependencies
node_modules/

# Optional: Ignore built files only if your deployment process rebuilds them
# _site/


