<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog - Peak Interval</title>
</head>
<body style="background-color: #181F3B; color: white; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">
    <h1>Blog Posts</h1>
    
    <ul>
        {%- assign posts = collections.posts | reverse -%}
        {%- for post in posts -%}
        <li>
            <a href="{{ post.url | url }}" style="color: orange;">{{ post.data.title }}</a>
            <p>{{ post.data.description }}</p>
        </li>
        {%- endfor -%}
    </ul>
</body>
</html> 